@media (min-width: 768px) {
  .introduction-div {
    background-image: url("../../assets/images/web-introduction-bg.svg");
  }
}

@media (max-width: 768px) {
  .introduction-div {
    background-image: url("../../assets/images/mobile-introduction-bg.svg")
  }
}

iframe {
  clip-path: url(#clip);
  margin-left: 30vw;
  transform: scale(0.7);
  margin-top: 50px;
}